.item {
  .card {
    height: 100%;
    background-color: $item-bg-color;
    @include dropshadow($showshadow);
    line-height: 1.3;

    >a:link {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .meta {
    padding: $separator-width;
    font-size: .9rem;
    line-height: 1.35;

    >div {
      margin-bottom: 3px;
    }
  }

  .md_label {
    text-transform: uppercase;
    font-size: .8rem;
  }

  .md_title {
    font-size: 1.1rem;
    line-height: 1.4;
    margin: 0;
    padding: 3px;
    font-weight: bold;

    a,
    a:link,
    a:visited {
   
      display: block;
    }
  }

  .md_author {
    padding-right: 5px;

    &::after {
      content: ";";
    }

    &:last-child::after {
      content: "";
    }
  }

  a {

    &:link,
    &:visited {
      font-weight: normal;
      color: $brand-primary;
    }

    &:hover {
      color: lighten($brand-primary, 7%);
    }
  }

  .thumbs {
    width: 100%;
    flex: 0 0 auto;

    a {
      display: block;
      margin-right: 0;
    }

    img {
      @include img-responsive;
    }
  }
}

@media (max-width: 768px) {
  .item .card .meta {
    padding: 0;

    .md_title {
      font-size: 1rem;
    }
  }
}