<article class="item">
    <div class="card">
        <div class="thumbs">
            <a href="{{ .Permalink }}" title="{{ .Title }}" aria-hidden="true" tabindex="-1">
            	{{ $thumb := resources.Get (  printf "images/%s.jpg" .Params.identifier )}}
                <img src="{{ $thumb.Permalink }}" class="imgload"  alt="{{ .Title }}"></a>
        </div>
        <div class="meta">
            <h1 class="md_title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        </div>
    </div>
</article>