<article class="item">
    <div class="card">
        <a href="{{ .RelPermalink }}">
            <div class="thumbs" role="presentation">
                {{- $thumb := resources.Get (  printf "images/%s.jpg" .Params.ss_book_identifier ) -}}
                <img src="{{ $thumb.RelPermalink }}" class="imgload" loading="lazy" alt="{{ .Title }}" aria-hidden="true">
            </div>
            <div class="meta">
                <h1 class="md_title" aria-label="{{ .Title }}">{{ .Params.ss_publication_date_text }}</h1>
            </div>
        </a>
    </div>
</article>
