<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">

  <head>
    {{ partial "head-html.html" . -}}
  </head>

  <body class="{{- if .IsHome -}}ishome {{ end -}}{{if .IsNode}}isnode {{end}}{{if .IsPage}}ispage{{end}} {{ with .Type }}{{ . }}{{ end }} {{ with .Kind }}{{ . }}{{ end }}">
    <header class="page-header">
      <div id="skipnav"><a href="#main-content">Skip navigation</a></div>
      <div class="top-hold">
        <div class="logo"><a href="https://nyupress.org" class="brand"><img src="/opensquare/images/NYUPLogo.png" alt="NYU Press"></a></div>
        <a class="site-title" href="/">{{ .Site.Title }}: <span class="tagline">{{.Site.Params.tagline}}<span></a>
      </div>
      <div class="navhold">
        <div class="inner">
          {{ partial "nav-links-main.html" . }}
          <div class="searchbox" role="search">{{ partial "searchbox.html" . }}</div>
        </div>
      </div>
    </header>
    <div class="contain-main">