{{- if .Site.Params.sitelogofilename -}}
      <div class="site-title item itemwide">
        <a class="" href="{{ .Site.BaseURL | relURL }}" aria-label="{{ .Site.Title }}">
          <img src="{{ .Site.BaseURL | relURL }}/images/{{ .Site.Params.sitelogofilename  }}" alt="{{ .Title }} homepage">
        </a>
      </div>
{{- else }}
      <div class="site-title item itemwide"><a href="{{ .Site.BaseURL | relURL }}">{{ .Site.Title }}</a></div>
{{- end }}
      <div class="toplogo-nyu item "><a href="https://library.nyu.edu/" class="nyullogo" target="_blank">NYU Libraries</a></div>
